body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* CSS sttyles of Vijay */
.page-head{
  text-align: center;
  margin: 5%;
  font-size: 35px;
  color: brown;
}
.book{
  margin: 5%;
  text-align: center;
}
.btn{
  background: transparent;
  font-size: 15px;
  font-weight: 700;
  color: blue;
  cursor: pointer;
  border: none;
}
.btn:hover{
  color: red;
  transition: 0.5s;
}
